@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.NumberBlock {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  width: 100px;
  height: 100px;
  border: 2px solid royalblue;
}

.SimpleBlock {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  width: 100px;
  height: 100px;
  border: 2px solid royalblue;
}

.NumberTable {
  width: 400px;
  height: width;
  display: inline-block;
}

.ChessTable {
  width: 600px;
  height: width;
  display: inline-block;
}

.ChessBlock {
  display: table-cell;
  text-align: center;
  vertical-align:middle;
  width: 25px;
  height: 25px;
  border: 1px solid royalblue;
}